@model E_GUNLUK.Models.Likes
    @{ 
        Layout = null;
    }


@using (@Html.BeginForm("Like", "Likes" , FormMethod.Post, new { id = "Like-btn", @class = "like-btn" }))

{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
         <a class="btn btn-default" href="javascript:document.getElementById('Like-btn').submit()">like</a>
        </div>                    
</div>



}



